body {
  background-image: url('https://i.imgur.com/b9r5sEL.jpg');
  background-size: cover;
}

#keys {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96vh;
}

.key {
  width: 6vw;
  height: 6vw;
  border: 0.3vw solid black;
  display: inline-block;
  margin: 1%;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 1%;
  transition: all .07s ease;
  background: rgba(0, 0, 0, 0.6);
}

.keyPressed {
  transform: scale(1.1);
}

.key kbd{
  display: block;
  font-size: 3vw;
  color: #db162f;
}

.key span {
  font-size: 1vw;
  color: #ffc600;
}


